body{
    margin: 0;
    background-image: url("../images/fondo1.jpg");
    background-size: 100%;
    background-attachment: fixed;
}
header {
    position: fixed;
    width:100%; /* Establecemos que el header abarque el 100% del documento */
    background-image: -moz-linear-gradient(90deg, #E8EDED, #C2D1D1);
    margin: 0;
    border-bottom: 4px solid grey;
    font-family: 'Arial', sans-serif; /*estilo de fuente Cabecera*/
    z-index: 100;
}
header .bar {
    width:100%; /* Establecemos que el ancho sera del 90% */
    max-width:1200px; /* Aqui le decimos que el ancho máximo sera de 1000px */
    margin: 0 auto; /* Centramos los elementos */
    background: green;
}
header .logo {
    cursor:pointer;
    color:#f2f2f2;
    float:left;
    font-size: 40px;
    line-height: 140px;
    padding: 30px 0px 0px 0;
    margin-bottom: 16px;
    -webkit-transition:all 500ms ease;
}
header .logo h1{
    -webkit-transition:all 500ms ease;
    display: inline-block;
    color: #303030;
    margin: 0;
    font-size: 42px;
    line-height: 40px;
}
header .logo h2{
    -webkit-transition:all 500ms ease;
    color: #303030;
    margin: 20px 0 0;
    font-size: 24px;
    line-height: 30px;
}
header .logo img{
    float: right;
    padding-left: 20px;
    padding-top: 0px;
    -webkit-transition:all 500ms ease;
}
header #navigation{
    -webkit-transition:all 500ms ease;
}
.header2 {
    position: fixed;
}
.header2 .logo{
    margin-top: -10px;
    margin-bottom: -10px;
    padding: 0px;
    margin-left: -290px;
    -webkit-transform:scale(0.6);transform:scale(0.6);
    transform-origin: left;
}
.header2 .logo img{
    -webkit-transition:all 500ms ease;
    margin-left: 70px;
}
header2 .bar{
    margin: 0;
}
.header2 #navigation{
    margin-top: -90px;
}
@media screen and (max-width: 950px) { /* PERMITE ADAPTAR EL HEADER A UN DISPOSITIVO MÓVIL */
    header .logo,
    header nav {
        width:100%;
        text-align:center; /*Centramos el menu y el logotipo*/
        line-height:100px;
    }
    .header2 {
        height:auto;
    }
    .header2 .logo,
    .header2 nav {
        line-height:50px;
    }
}
.article{
    cursor:pointer;
    position: relative;
    display: inline-block;
    margin-top: 2px;
    margin-left: 2px;
    width: 437px;
    height: 300px;
    z-index: 1;
    overflow: hidden;   
}
.article img{
    -webkit-transition:all 500ms ease;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.articlecont{
    font-family: 'Arial', sans-serif; /*estilo de fuente Cabecera*/
    text-align: justify;
    height: 100%;
    margin-top: 260px;
    position: absolute;
    width: 100%;
    z-index: 3;
    background: #606060;
    opacity:0.9;
    color: white;
    -webkit-transition:all 500ms ease;
}
.article:hover .articlecont{
    margin-top: 0px;
    -webkit-transition:all 500ms ease;
    opacity:0.7;
}
.articlecont h3{
    font-size: 18px;
    text-transform: uppercase;
    margin: 14px 0 8px 10px;
}
.articlecont h4{
    font-size: 12px;
    margin:0 14px 8px;
    padding: 0;
}
.article:hover img{
    -webkit-transform:scale(1.2);transform:scale(1.2);
}
.content{
    padding-top: 167px;
    padding-bottom: 2px;
    margin-bottom: 20px;
    margin: 0 auto;
    max-width: 880px;
    background: white;
}
.Fof_content{
    font-family: 'Arial', sans-serif; /*estilo de fuente Cabecera*/
    margin: 60px auto;
    max-width: 720px;
}
.content .Fof_content h3{
    color: #79BBEA;
    padding: 0;
    margin: 20px 0 20px 0px;
    font-weight: 700;
    font-size: 28px;
    text-align: justify;
}
.content .Fof_content h4{
    padding: 0;
    margin: 0 0 20px 0;
    font-weight: 300;
    text-align: justify;
}
.Fof_content iframe{
    border: 0px;
    padding: 0px;
    margin: 0 0 20px 0;
}
.Fof_content iframe:nth-of-type(2n){
    width:100%;
    height:315px;
    float: left;
    margin-bottom: 20px;
}
.Fof_content iframe:nth-of-type(2n+1){
    width:100%;
    height:315px;
    float: right;
}
.ReturnTop{
    width: 100px;
    color: #63B3E8;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 0px;
    -webkit-transition:all 100ms ease;
}
.ReturnTop a{
    font-size: 16px;
}
.ReturnTop:hover{
    color: #303030;
}
footer{
    position: relative;
    bottom: 100%;
    width:100%; /* Establecemos que el header abarque el 100% del documento */
    background: gray;
    margin: 20px 0 0 0 ;
    border-top: 4px solid #E8EDED;
    font-family: 'Arial', sans-serif; /*estilo de fuente Cabecera*/
    height: 100px;
}